<h1 class="text-success text-center">Live angular Diretivas</h1>

<!--Diretivas de Atributos-->

<div [ngClass]="{custom:count<5}" [ngStyle]=" {background:count<=5? 'red': 'blue'} ">
    <h2 class="text-center ">Contador: {{ count }}</h2>
</div>

<!--Diretivas Estruturais-->
<h2 *ngIf="count >7;else: menor">O Contador passou de 7!</h2>

<ng-template #menor>
    <h2>O Contador é menor que 7!</h2>
</ng-template>
<ul [ngSwitch]="count" class="list-group mx-auto col-3">
    <li *ngSwitchCase="3" class="list-group-item">
        É IGUAL A 3!
    </li>
    <li *ngSwitchCase="6" class="list-group-item">
        É IGUAL A 6!
    </li>
    <li *ngSwitchCase="8" class="list-group-item">
        É IGUAL A 8!
    </li>
    <li *ngSwitchDefault class="list-group-item">
        ESSE É O DEFAULT
    </li>
</ul>



<ul *ngFor="let pessoa of pessoas" class=" list-group mx-auto col-3 ">
    <li class="list-group-item ">O nome dele é {{pessoa.nome}} e seu sobrenome é {{pessoa.sobrenome}}</li>
</ul>


<!--enviando dados da lógica(typescript) para o template(HTML) -->

<!--Binding direcional da lógica para o template (ou coloca -se dentro de chaves{} ou double moustache)-->
<h3>{{ nome }}</h3>


<!--enviando dados do template para a lógica-->
<!--Binding direcional do template  para a lógica(coloca -se parenteses().)-->
<div class="mx-auto col-4">
    <button class="btn btn-success" (click)="clicou('Rodrigo')">Clique</button>
</div>
<!--Desenvolvendo um two way data binding(coloca -se colchetes e parenteses)-->
<div class="mx-auto col-4">
    <input type="text" class="form-control" placeholder="Digite algo" [(ngModel)]="text">
    <h3>Saída:{{ text }}</h3>
</div>


<!--Chamando a diretiva customizada-->
<h3 appMarcaTexto corDeFundo="red" corDoTexto="blue">{{ nome }}</h3>